In [1]:
a=[10,20,30,40]

In [7]:
#what is the way to print all the elements in the list.
for i in a:
    print(i,end="   ")

10   20   30   40

In [9]:
#how to check whether the element is present in the list are not.
for i in a:
    if i==30:
        print("value found")
        break
else:
    print("not found")

value found

In [17]:
    if 30 in a:
        print("found")
        
    else:
        print("not found")

found

In [19]:
30 in a

True

In [21]:
#write a python code to find the index value of a number 30 in the list.
for i in range(len(a)):
    if a[i]==30:
        print(i)
        break

2

In [79]:
#without loop.
index=a.index(30)
print(index)

2

In [45]:
q=[10,20,30,40,50,60,70,80,90,11,22,33,44,55,66,77,88,99,100,12,23,34,56,78,89]
print(len(q))
print(q[15])
print(q[-5])

25
77
23

In [69]:
#append extend insert
info=[20,"hai",2324,"banglore"]
info.append("praveen")
print(info)
#how to add each charaters of the word hello to the list
b="hello"
for i in b:
    info.append(i)
    print(info)
#insert
info[1]="heyy"
print(info)
#slicing operator
print(info[1:5])
print(info[1:])
print(info[:5])

[20, 'hai', 2324, 'banglore', 'praveen']
[20, 'hai', 2324, 'banglore', 'praveen', 'h']
[20, 'hai', 2324, 'banglore', 'praveen', 'h', 'e']
[20, 'hai', 2324, 'banglore', 'praveen', 'h', 'e', 'l']
[20, 'hai', 2324, 'banglore', 'praveen', 'h', 'e', 'l', 'l']
[20, 'hai', 2324, 'banglore', 'praveen', 'h', 'e', 'l', 'l', 'o']
[20, 'heyy', 2324, 'banglore', 'praveen', 'h', 'e', 'l', 'l', 'o']
['heyy', 2324, 'banglore', 'praveen']
['heyy', 2324, 'banglore', 'praveen', 'h', 'e', 'l', 'l', 'o']
[20, 'heyy', 2324, 'banglore', 'praveen']

In [77]:
info=[20,"hai",2324,"banglore",55,666,"akash"]
print(info[::2])
print(info[:4:2])

[20, 2324, 55, 'akash']
[20, 2324]

In [91]:
a=[1,"abc",20,"hai",2324,"banglore",55,666,"akash"]
print(a[::-1])
print(a[::-3])

['akash', 666, 55, 'banglore', 2324, 'hai', 20, 'abc', 1]
['akash', 'banglore', 20]

In [93]:
#write a python code to create a list of hundred elements,where all the entries are same number,and the number is given by the user
num=int(input("enter the number="))
list=[num]*100
print(list)

enter the number= 55

[55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55]

In [95]:
odd=[2*i+1 for i in range(10)]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [121]:
list3 = List(range(1,11))
#odd = list_3[::2]
print(list3)

NameError: name 'List' is not defined

In [101]:
list_3 = list(range(1,20,2))
print(list_3)

TypeError: 'list' object is not callable

In [107]:
# Get user input
user_input = input("Enter a string: ")

# Create a list by extracting characters from the string
char_list = [char for char in user_input]

# Print the resulting list
print("List of characters:", char_list)

Enter a string:  hello

List of characters: ['h', 'e', 'l', 'l', 'o']

In [109]:
a=input()
b=input()
list1=[char for char in a]
list2=[char for char in b]
print(a)
print(b)

 hello
 akash

hello
akash